{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block content %}
<div class="row  justify-content-md-center">
    <div class="col-md-9 mb-10">
        <div class="card  card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-bell text-primary"></i>
                    </span>
                    <h2 class="card-label">واریز رمز ارز</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <ul class="col-md-12">
                        <li>ابتدا رمز ارز و شبکه مورد نظر خود را انتخاب کنید</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>انتخاب رمز ارز</label>
                        <select class="form-control" name="symbol" id="symbol">
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>انتخاب شبکه</label>
                        <select class="form-control" name="network" id="network">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <ul class="col-md-12">
                        <li>سپس رمز ارز حود را به این آدرس کیف پول وارد کنید</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="form-group col-md-7">
                        <label for="walletId">آدرس ولت</label>
                        <input class="form-control" type="text" disabled id="walletId" placeholder="آدرس ولت">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="tag"> آدرس تگ / MIMO</label>
                        <input class="form-control" type="text" disabled id="tag" placeholder="آدرس تگ / MIMO">
                    </div>
                </div>
                <div class="row">
                    <ul class="col-md-12">
                        <li>در نهایت کد تراکنش خود را در سیستم ثبت کنید</li>
                    </ul>
                </div>
                <form name="form" method="POST" action="deposit_crypto">{% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">کد تراکنش (txId)</label>
                        <input class="form-control" type="text" name="txId" placeholder="کد تراکنش (txId)">
                    </div>
                    <button type="submit" class="btn btn-primary p-3">ثبت کد تراکنش</button>
                </form>

                <div class="row">
                    <ul class="col-md-12">
                        <li>پس از تایید انتقال تغییرات در کیف پول شما منظور خواهد شد.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_javascript %}
<script>
    var networks = [];
    $.getJSON("/getCoins", function (result) {
        var $dropdown = $("#symbol");

        $("#symbol option").remove();
        $.each(result, function () {
            $dropdown.append($("<option />").val(this.symbol).text(this.name));
        });
        try {
            $dropdown.val(result[0].symbol);
        } catch{ }
        updateNetworks();
    });

    function updateNetworks() {
        symbole = $('#symbol').val();
        $.getJSON("/getWallets/" + symbole, function (result) {
            networks = result;
            var $dropdown = $("#network");
            $("#network option").remove();
            $.each(result, function () {
                $dropdown.append($("<option />").val(this.network).text(this.network));
            });
            try {
                $dropdown.val(result[0].network);
            } catch{ }
        });

    }

    $('#symbol').on('change', function () {
        updateNetworks();
    });

    function updateWalletAddress() {
        $("#walletId").val("");
        $("#tag").val("");

        network = $('#network').val();
        networks.forEach(element => {
            if (element.network == network) {
                $("#walletId").val(element.address);
                $("#tag").val(element.tag);
            }
        })
    }
    $('#network').on('change', function () {
        updateWalletAddress();
    });
    
    menu  = "lnktransactions"
    parent  = "lnkorders"
</script>
{% endblock footer_javascript %}