{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block content %}
<div class="row  justify-content-md-center">

<div class="col-md-9 mb-10">
    <div class="card  card-custom">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">
                    <i class="flaticon2-bell text-primary"></i>
                </span>
                <h2 class="card-label">واریز ریالی</h2>
            </div>
        </div>
        <div class="card-body">
            <ul>
                <li>
                     مبلغ مورد نظر خود را وارد کنید پس از پرداخت موفق مبلغ مورد نظر در کیف پول شما قابل مشاهده خواهد بود .
                </li>
                <li class="text-danger">
                    مبلغ وارد شده می بایست حداقل 10 هزارتومان و مضربی از هزار تومان باشد. 
                </li>
            </ul>
            <form name="form" method="POST" action="/deposit_irr">{% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1"> مبلغ (تومان)</label>
                    <input class="form-control" name="amount" type="number" min="10000" step="1000" placeholder="مقدار">
                </div>
                <button type="submit" class="btn btn-primary p-3">انتقال به درگاه پرداخت</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}
{% block footer_javascript %}
<script>
    
    menu  = "lnkdepositirr"
    parent  = "lnktrades"
</script>
{% endblock footer_javascript %}