{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block content %}
<div class="row  justify-content-md-center">
    <div class="col-md-9 mb-10">
        <div class="card  card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-bell text-primary"></i>
                    </span>
                    <h2 class="card-label">تبدیل و خرید و فروش رمز ارز</h2>
                </div>
            </div>
            <div class="card-body">
                <form name="form" method="POST" action="/exchange">{% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-3 pl-0 ">
                            <label>پرداخت میکنید</label>
                            <select style="background-color: #eee;" class="form-control br-0" name="payCoin" id="assets">
                            </select>
                        </div>
                        <div class="form-group col-md-3 pr-0 ">
                            <label for="amount">مقدار</label>
                            <input class="form-control br-0" type="number" min="0" step=".01" id="amount1" name="paidAmount"
                                placeholder="مقدار">
                        </div>
                        <div class="form-group col-md-3 pl-0">
                            <label>دریافت میکنید</label>
                            <select style="background-color: #eee;"  class="form-control br-0" name="getCoin" id="symbol">
                            </select>

                        </div>
                            <div class="form-group col-md-3 pr-0">
                                <label for="amount">مقدار</label>
                                <input class="form-control br-0" type="number" min="0" step=".01" id="amount2" name="getAmount"
                                    placeholder="مقدار">
                            </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6  text-right">حداقل خرید : <span id="ُminAvailable"></span></div>
                        <div class="col-md-6  " dir="ltr" id="price"></div>
                    </div>

                    <ul>
                        <li class="text-danger"> درهنگام معامله ، قیمت لحظه محاسبه خواهد شد و به میزان پرداختی از ارز شما ، ارز دریافتی به حساب کاربری شما افزوده خواهد شد</li>
                    </ul>
                    <button type="submit" class="btn btn-primary p-3">ثبت تبدیل</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_javascript %}
<script>
    var assets = [];
    var symbols = [];

    function updateAssets() {
        asset = $('#assets').val();
        $.getJSON("/test/" + asset, function (result) {
            assetPrice = result;
console.log("asset : "+assetPrice);
            updateData1();
        });
    }
    function updateSymbol() {
        symbol = $('#symbol').val();
        $.each(symbols,function(){
             if(this.symbol == symbol){
                $('#ُminAvailable').html(this.minVolume)
            }
        })
        $.getJSON("/test/" + symbol, function (result) {
            symbolPrice = result;
            $('#price').html("1 " + symbol +" = " + symbolPrice)
            updateData2();
        });
    }

    $.getJSON("/getCoins", function (result) {
        symbols = result;
        var $dropdown = $("#symbol");
        $("#symbol option").remove();
        $.each(result, function () {
            $dropdown.append($("<option />").val(this.symbol).html('<i class="flaticon2-bell text-primary"></i><span style="color:red">'+this.name+'</span>'));
        });
        try {
            $dropdown.val(result[0].symbol);
        } catch{ }
        updateSymbol();
    });

    $.getJSON("/get_assets", function (result) {
        assets = result.data
        var $dropdown = $("#assets");
        $("#assets option").remove();
        $.each(result.data, function () {
            $dropdown.append($("<option />").val(this.symbol).text(this.symbol));
        });
        try {
            $dropdown.val(result[0].symbol);
        } catch{ }
        updateAssets();
    });

    var assetPrice = 1;
    var symbolPrice = 1;

    function updateData1() {
        asset = $('#assets').val();
        symbol = $('#symbol').val();
        var amount = $('#amount1').val();
        buyAmount = amount * assetPrice / symbolPrice;
        $('#amount2').val(buyAmount.toFixed(2));
    }

    function updateData2() {
        asset = $('#assets').val();
        symbol = $('#symbol').val();
        var amount = $('#amount2').val();
        buyAmount = amount * symbolPrice / assetPrice ;
        $('#amount1').val(buyAmount.toFixed(2));
    }

    $('#symbol').on('change', function () {

        updateSymbol();
    });


    $('#assets').on('change', function () {
        updateAssets()
    });

    $('#amount1').on('change', function () {
        updateData1();
    });
    $('#amount2').on('change', function () {
        updateData2();
    });
    menu  = "lnkexchange"
    parent  = "lnktrades"
</script>
{% endblock footer_javascript %}