<html>

<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>

<body>
    {{% load crispy_forms_tags %}}
    <form method="post" class="form-group">
        {{form|crispy}}
        {{% csrf_token %}}
        <button type="submit" class="btn btn-success">Login</button>
        <p>dont have account? Create one <a href="/register">here</a></p>
    </form>
</body>

</html>