<html>

<head>

</head>

<body>
    <h5>
        'error': {{error}} , 'message': {{message}}, 'amount': {{amount}}, 'fee': {{fee}}
    </h5>
    <a href="/index">Dashboard</a>
</body>

</html>