{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block content %}
<div class="row mb-10">
    <div class="col-md-12">
        <div class="card  card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-bell text-primary"></i>
                    </span>
                    <h2 class="card-label">سفارشات شما</h2>
                </div>
            </div>
            <div class="card-body">

                <table id="example" class="table table-separate table-head-custom collapsed" style="width:100%">
                    <thead>
                        <tr>
                            <th>کد</th>
                            <th>مقدار</th>
                            <th>مبلغ</th>
                            <th>نماد</th>
                            <th>تاریخ سفارش</th>
                            <th>آخرین تغییرات</th>
                            <th>آدرس کیف پول</th>
                            <th>کد تراکنش (txId)</th>
                            <th>تاریخ تکمیل</th>
                            <th>وضعیت</th>
                            <th>نام حساب</th>
                            <th>نوع سفارش</th>
                            <th>توضیحات</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_javascript %}

<script>
    var table = $('#example').DataTable({
        language: {
            lengthMenu: " _MENU_ :  نعداد هر صفحه  ",
            zeroRecords: "اطلاعاتی یافت نشد",
            info: "نمایش صفحه _PAGE_ از _PAGES_ صفحه",
            infoEmpty: "سفارش باز موجود نیست",
            infoFiltered: "(نتایج جستجو از مجموع _MAX_ سفارش)",
            loadingRecords: " بارگذاری...",
            processing: "پردازش...",
            search: "جستجو : ",
            paginate: {
                first: "اول",
                last: "آخر",
                next: "بعدی",
                previous: "قبلی"
            }
        },
        responsive: true,
        ajax: {
            url: '/get_transactions',
            dataSrc: 'data'
        },
        columns: [
            { data: "id" },
            { data: "amount" },
            { data: "price" },
            { data: "symbol" },
            { data: "order_date" },
            { data: "last_action_date" },
            { data: "wallet_id" },
            { data: "txid" },
            { data: "complet_date" },
            { data: "status" },
            { data: "accountName" },
            { data: "side" },
            { data: "description" },
        ],
        columnDefs: [
            {
                targets: [4, 5, 8],
                render: function (data, type, full, meta) {
                    try {
                        var h = parseInt(data.substring(11, 13));
                        var m = parseInt(data.substring(14, 16));
                        return h + ":" + m + " " + gregorian_to_jalali(data);
                    } catch{
                        return data;
                    }
                }
            },
            {
                targets:11,
                render: function (data, type, full, meta) {
                    try {
                        if (data == -1) {
                            return '<span class="label label-danger label-dot mr-2"></span> <span class="font-weight-bold text-danger">واریز</span></td>'
                        } else if (data == 1) {
                            return '<span class="label label-success label-dot mr-2"></span> <span class="font-weight-bold text-success">برداشت </span></td>'
                        } else {
                            return '<span class="label label-primary label-dot mr-2"></span><span class="font-weight-bold text-primary"> - </span>'
                        }
                    } catch{
                        return data;
                    }
                }
            },
            { responsivePriority: 1, targets: 0 },
            { class: 'none', targets: [6, 7, 9, 10, 12] },

        ]
    });



    setInterval(function () {
        table.ajax.reload();
    }, 3000000);


    
    
  menu  = "lnktransactions"
  parent  = "lnkorders"
</script>


{% endblock footer_javascript %}