{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block content %}
<div class="row mb-10">
    <div class="col-md-7">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-bell text-primary"></i>
                    </span>
                    <h2 class="card-label">افزودن کارت</h2>
                </div>
            </div>

            <form action="userCard" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div calss="pb-5 col-md-6">
                            <h5 class="mb-10 text-right font-weight-bold text-dark">انتخاب عکس سلفی</h5>

                            <div class="image-input image-input-empty image-input-outline" id="kt_image_0">
                                <div class="image-input-wrapper "></div>

                                <label
                                    class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                    data-action="change" data-toggle="tooltip" title="" data-original-title="انتخاب">
                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                    <input type="file" name="cardImage" accept=".png, .jpg, .jpeg" />
                                </label>

                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                    data-action="cancel" data-toggle="tooltip" title="حذف">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>

                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                    data-action="remove" data-toggle="tooltip" title="حذف">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-5">
                            <div class=" pull-bottom">
                                <div class="form-group">
                                    <label>شماره کارت : </label>
                                    <input type="text" class="form-control form-control-solid form-control-lg"
                                        name="cardNumber" placeholder="شماره کارت" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success font-weight-bold text-uppercase px-9 py-4">
                        افزودن
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5 ">
        <div class="card  card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-bell text-primary"></i>
                    </span>
                    <h2 class="card-label">لیست کارت های شما</h2>
                </div>
            </div>
            <div class="card-body">
                <ul style="float: right;text-align:right;  list-style-type: persian;">

                    {% for card in data %}
                    <li>
                    <p>
                        {% if card.verifiedLevel == 1 %}
                        <span>تایید شده</span>
                        {% else  %}
                        {% if card.verifiedLevel == 0 %}
                        <span>تایید نشده</span>
                        {% else %}
                        {% if card.verifiedLevel == -1 %}
                        <span>در انتظار تایید</span>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {{ card.cardNumber }}
                    </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_javascript %}

<script>

    menu = "lnkuserCard"
    parent = "lnkorders"

    var avatar1 = new KTImageInput('kt_image_0');
    avatar1.on('cancel', function (imageInput) {
        swal.fire({
            title: 'Image successfully changed !',
            type: 'success',
            buttonsStyling: false,
            confirmButtonText: 'Awesome!',
            confirmButtonClass: 'btn btn-primary font-weight-bold'
        });
    });

    avatar1.on('change', function (imageInput) {
        swal.fire({
            title: 'Image successfully changed !',
            type: 'success',
            buttonsStyling: false,
            confirmButtonText: 'Awesome!',
            confirmButtonClass: 'btn btn-primary font-weight-bold'
        });
    });

    avatar1.on('remove', function (imageInput) {
        swal.fire({
            title: 'Image successfully removed !',
            type: 'error',
            buttonsStyling: false,
            confirmButtonText: 'Got it!',
            confirmButtonClass: 'btn btn-primary font-weight-bold'
        });
    });

</script>


{% endblock footer_javascript %}