{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block head_css %}
<link href="/static/css/pages/wizard/wizard-18c19.css" rel="stylesheet" type="text/css" />
{% endblock head_css %}

{% block content %}
{% if verifiedLevel == 1 %}
<h1 style="color: green;">شما احراز هویت شده اید</h1>
{% else %}
{% if verifiedLevel == -1 %}
<h1 style="color: red;">شما احراز هویت نشده اید</h1>
{% else %}
{% if verifiedLevel == 0 %}
<h1 style="color: orange;">در انتظار تایید احراز هویت</h1>
{% endif %}
{% endif %}
{% endif %}
{% if unverifiedCardCount > 0 %}
<h4 style="color:red">شما {{unverifiedCardCount}} گارت تایید نشده دارید</h4>
{% endif %}

<div class="card card-custom mb-3">
    <div class="card-body p-0">
        <!--begin::Wizard-->
        <div class="wizard wizard-1" id="kt_wizard_v1" data-wizard-state="step-first" data-wizard-clickable="false">
            <!--begin::Wizard Nav-->
            <div class="wizard-nav border-bottom">
                <div class="wizard-steps p-8 p-lg-10">
                    <!--begin::Wizard Step 1 Nav-->
                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                        <div class="wizard-label">
                            <i class="wizard-icon flaticon-bus-stop"></i>
                            <h3 class="wizard-title">1. ثبت اطلاعات </h3>
                        </div>
                        <span class="svg-icon svg-icon-xl wizard-arrow">
                            <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Navigation/Arrow-right.svg-->
                            <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <rect fill="#000000" opacity="0.3"
                                        transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)"
                                        x="11" y="5" width="2" height="14" rx="1" />
                                    <path
                                        d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                        fill="#000000" fill-rule="nonzero"
                                        transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                    <!--end::Wizard Step 1 Nav-->
                    <!--begin::Wizard Step 2 Nav-->
                    <div class="wizard-step" data-wizard-type="step">
                        <div class="wizard-label">
                            <i class="wizard-icon flaticon-list"></i>
                            <h3 class="wizard-title">2. ارسال کارت ملی</h3>
                        </div>
                        <span style="transform: rotate(180deg);" class="svg-icon svg-icon-xl wizard-arrow">
                            <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Navigation/Arrow-right.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <rect fill="#000000" opacity="0.3"
                                        transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)"
                                        x="11" y="5" width="2" height="14" rx="1" />
                                    <path
                                        d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                        fill="#000000" fill-rule="nonzero"
                                        transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                    <!--end::Wizard Step 2 Nav-->
                    <!--begin::Wizard Step 3 Nav-->
                    <div class="wizard-step" data-wizard-type="step">
                        <div class="wizard-label">
                            <i class="wizard-icon flaticon-responsive"></i>
                            <h3 class="wizard-title">3. ارسال سلفی با کارت بانکی</h3>
                        </div>
                    </div>
                    <!--end::Wizard Step 3 Nav-->
                </div>
            </div>
            <!--end::Wizard Nav-->
            <!--begin::Wizard Body-->
            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                <div class="col-xl-12 col-xxl-7">
                    <!--begin::Wizard Form-->
                    <form action="verification" class="form" method="post" enctype="multipart/form-data">{% csrf_token %}

                        <!--begin::Wizard Step 1-->
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            <h3 class="mb-10 text-right font-weight-bold text-dark">ثبت اطلاعات شخصی</h3>
                            <!--begin::Input-->

                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>کد ملی : </label>
                                        <input type="text" class="form-control form-control-solid form-control-lg"
                                            name="nationalCode" placeholder="کد ملی" value="" />
                                    </div>
                                </div>
                                <!--end::Input-->
                                <!--begin::Input-->

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>شماره شبا : </label>
                                        <input type="text" class="form-control form-control-solid form-control-lg"
                                            name="shabaNumber" placeholder="شماره شبا" value="" />
                                    </div>
                                </div>
                            </div>

                            <!--end::Input-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>نام صاحب حساب : </label>
                                        <input type="text" class="form-control form-control-solid form-control-lg"
                                            name="accountName" placeholder="نام صاحب حساب" value="" />
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>شماره کارت : </label>
                                        <input type="text" class="form-control form-control-solid form-control-lg"
                                            name="cardNumber" placeholder="شماره کارت" value="" />
                                    </div>
                                    <!--end::Input-->
                                </div>

                            </div>

                        </div>
                        <!--end::Wizard Step 1-->
                        <!--begin::Wizard Step 2-->
                        <div class="pb-5" data-wizard-type="step-content">
                            <h3 class="mb-10 text-right font-weight-bold text-dark">انتخاب عکس کارت ملی</h3>

                            <div class="image-input image-input-empty image-input-outline" id="kt_image_0" >
                                <div class="image-input-wrapper"></div>
                               
                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="انتخاب">
                                 <i class="fa fa-pen icon-sm text-muted"></i>
                                 <input type="file" name="meliImage" accept=".png, .jpg, .jpeg"/>
                                </label>
                               
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="حذف">
                                 <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                               
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="حذف">
                                 <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                               </div>
                        </div>
                        <!--end::Wizard Step 2-->
                        <!--begin::Wizard Step 3-->
                        <div class="pb-5" data-wizard-type="step-content">
                            <h3 class="mb-10 text-right font-weight-bold text-dark">انتخاب عکس سلفی</h3>

                            <div class="image-input image-input-empty image-input-outline" id="kt_image_1" >
                                <div class="image-input-wrapper"></div>
                               
                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="انتخاب">
                                 <i class="fa fa-pen icon-sm text-muted"></i>
                                 <input type="file" name="selfiImage" accept=".png, .jpg, .jpeg"/>
                                 
                                </label>
                               
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip">
                                 <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                               
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip">
                                 <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                               </div>
                        </div>
                        <!--end::Wizard Step 3-->
                        
                        <!--begin::Wizard Actions-->
                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                            <div class="mr-2">
                                <button type="button"
                                    class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                                    data-wizard-type="action-prev">قبلی</button>
                            </div>
                            <div>
                                <button  class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                                     type="submit">تایید نهایی</button>
                                <button type="button" class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                                    data-wizard-type="action-next">بعدی</button>
                            </div>
                        </div>
                        <!--end::Wizard Actions-->
                    </form>
                    <!--end::Wizard Form-->
                </div>
            </div>
            <!--end::Wizard Body-->
        </div>
        <!--end::Wizard-->
    </div>
    <!--end::Wizard-->
</div>

{% endblock content %}





{% block footer_javascript %}


<script src="/static/js/pages/custom/wizard/wizard-1c3e8.js?v=7.0.6"></script>
<script>
    
    menu  = "lnkverification"
    parent  = "lnkorders"
    

    var avatar1 = new KTImageInput('kt_image_0');
    avatar1.on('cancel', function(imageInput) {
        swal.fire({
         title: 'Image successfully changed !',
         type: 'success',
         buttonsStyling: false,
         confirmButtonText: 'Awesome!',
         confirmButtonClass: 'btn btn-primary font-weight-bold'
        });
       });
       
       avatar1.on('change', function(imageInput) {
        swal.fire({
         title: 'Image successfully changed !',
         type: 'success',
         buttonsStyling: false,
         confirmButtonText: 'Awesome!',
         confirmButtonClass: 'btn btn-primary font-weight-bold'
        });
       });
       
       avatar1.on('remove', function(imageInput) {
        swal.fire({
         title: 'Image successfully removed !',
         type: 'error',
         buttonsStyling: false,
         confirmButtonText: 'Got it!',
         confirmButtonClass: 'btn btn-primary font-weight-bold'
        });
       });
  
       
    var avatar2 = new KTImageInput('kt_image_1');

       avatar2.on('cancel', function(imageInput) {
        swal.fire({
         title: 'Image successfully changed !',
         type: 'success',
         buttonsStyling: false,
         confirmButtonText: 'Awesome!',
         confirmButtonClass: 'btn btn-primary font-weight-bold'
        });
       });
       
       avatar2.on('change', function(imageInput) {
        swal.fire({
         title: 'Image successfully changed !',
         type: 'success',
         buttonsStyling: false,
         confirmButtonText: 'Awesome!',
         confirmButtonClass: 'btn btn-primary font-weight-bold'
        });
       });
       
       avatar2.on('remove', function(imageInput) {
        swal.fire({
         title: 'Image successfully removed !',
         type: 'error',
         buttonsStyling: false,
         confirmButtonText: 'Got it!',
         confirmButtonClass: 'btn btn-primary font-weight-bold'
        });
       });
</script>
{% endblock footer_javascript %}