{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block content %}
<div class="row mb-10">

    <div class="col-md-12">
        <div class="card  card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-bell text-primary"></i>
                    </span>
                    <h2 class="card-label">کیف پول شما</h2>
                </div>
            </div>
            <div class="card-body">

                <table id="example1" class="table table-separate table-head-custom collapsed" style="width:100%">
                    <thead>
                        <tr>
                            <th> نماد</th>
                            <th> تاریخ آخرین تغییرات</th>
                            <th> مقدار</th>
                            <th> عملیات</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
{% block footer_javascript %}

<script>
    var table1 = $('#example1').DataTable({
        responsive: true,
        language: {
            lengthMenu: " _MENU_ :  نعداد هر صفحه  ",
            zeroRecords: "اطلاعاتی یافت نشد",
            info: "نمایش صفحه _PAGE_ از _PAGES_ صفحه",
            infoEmpty: "سفارش باز موجود نیست",
            infoFiltered: "(نتایج جستجو از مجموع _MAX_ سفارش)",
            loadingRecords: " بارگذاری...",
            processing: "پردازش...",
            search: "جستجو : ",
            paginate: {
                first: "اول",
                last: "آخر",
                next: "بعدی",
                previous: "قبلی"
            }
        },
        ajax: {
            url: '/get_assets',
            dataSrc: 'data'
        },
        columns: [
            { data: "symbol" },
            { data: "lastChange" },
            { data: "amount" },
            { data: "symbol" }
        ]
        , columnDefs: [{
            targets: 1,
            render: function (data, type, full, meta) {
                try {
                    var h = parseInt(data.substring(11, 13));
                    var m = parseInt(data.substring(14, 16));
                    return h + ":" + m + " " + gregorian_to_jalali(data);
                } catch{
                    return data;
                }
            }
        },
        {
            targets: 3,
            orderable: false,
            responsivePriority: 1,
            render: function (data, type, full, meta) {
                return '\
                    <div class="row"> \
                    <a href="/deposit/'+data+'" class="btn btn-light-success font-weight-bold mr-2">واریز</a>\
                    <a href="/Withdraw/'+data+'" class="btn btn-light-danger font-weight-bold mr-2">برداشت</a>\
                    </div>\
                    ';
            },
        }]
    });


    setInterval(function () {
        table.ajax.reload();
        table1.ajax.reload();
    }, 3000000);


    
  menu  = "lnkwallet"
  parent  = "lnkorders"
</script>
{% endblock footer_javascript %}