{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block content %}

<div class="row  justify-content-md-center">
    <div class="col-md-9 mb-10">
        <div class="card  card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-bell text-primary"></i>
                    </span>
                    <h2 class="card-label">برداشت رمز ارز</h2>
                </div>
            </div>
            <div class="card-body">
                <form name="form" method="POST" action="/withdraw_crypto">{% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>انتخاب رمز ارز</label>
                            <select class="form-control" name="symbol" id="symbol">
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>انتخاب شبکه</label>
                            <select class="form-control" name="network" id="network">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="walletId">آدرس ولت</label>
                        <input class="form-control" type="text" name="walletId" id="walletId" placeholder="آدرس ولت">
                    </div>
                    <div class="form-group">
                        <label for="tag">آدرس تگ / MIMO (اختیاری)</label>
                        <input class="form-control" type="text" name="tag" id="tag" placeholder="آدرس تگ / MIMO">
                    </div>
                    <div class="form-group">
                        <label for="amount">مقدار</label>
                        <input class="form-control" type="number" min="0" step=".01" name="amount" placeholder="مقدار">
                    </div>
                    <button type="submit" class="btn btn-primary p-3">ثبت درخواست برداشت</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}

    {% block footer_javascript %}
    <script>
        var networks = [];
        $.getJSON("/getCoins", function (result) {
            var $dropdown = $("#symbol");
    
            $("#symbol option").remove();
            $.each(result, function () {
                $dropdown.append($("<option />").val(this.symbol).text(this.name));
            });
            try {
                $dropdown.val(result[0].symbol);
            } catch{ }
            updateNetworks();
        });
    
        function updateNetworks() {
            symbole = $('#symbol').val();
            $.getJSON("/getWallets/" + symbole, function (result) {
                networks = result;
                var $dropdown = $("#network");
                $("#network option").remove();
                $.each(result, function () {
                    $dropdown.append($("<option />").val(this.network).text(this.network));
                });
                try {
                    $dropdown.val(result[0].network);
                } catch{ }
            });
    
        }
    
        $('#symbol').on('change', function () {
            updateNetworks();
        });
    
        
        $('#network').on('change', function () {
            updateWalletAddress();
        });
    
    </script>
    {% endblock footer_javascript %}