{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block content %}
<div class="row  justify-content-md-center">
    <div class="col-md-9 mb-10">
        <div class="card  card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-bell text-primary"></i>
                    </span>
                    <h2 class="card-label">برداشت ریالی</h2>
                </div>
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        درخواست برداشت خود را وارد کنید
                    </li>
                    <li class="text-danger">
                        مبلغ درخواستی می بایست حداقل 10 هزارتومان و مضربی از هزار تومان باشد
                    </li>
                    <li class="text-success ">
                        درخواست شما توسط ادمین بررسی و پس از واریز به شماره شبای ثبت شده در لیست تراکنش های شما قابل
                        مشاهده خواهد بود
                    </li>
                </ul>
                <form name="form" method="POST" action="/withdraw_irr">{% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">مبلغ</label>
                        <input class="form-control" id="amountWitdrawIRR" name="amount" type="number" value="10000"
                            min="10000" step="1000" placeholder="مبلغ">
                    </div>
                    <ul>
                        <li>مبلغ درخواستی : <span id="WitdrawIRRTotlaPrice"></span></li>
                        <li>موجودی فعلی : {{ available }}</li>
                        <li>موجودی پس از برداشت وجه : <span id="WitdrawIRRInventoryDeficit"></span></li>
                    </ul>
                    <p id="WitdrawIRRnotif" class="text-danger text-right"></p>
                    <button type="submit" id="submit" class="btn btn-primary p-3">ثبت درخواست برداشت</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_javascript %}
<script>
    $('#amountWitdrawIRR').on('change', function () {
        var amount = $('#amountWitdrawIRR').val();
        $('#WitdrawIRRTotlaPrice').html(amount);
        var x = "{{available}}" - amount;
        $('#WitdrawIRRInventoryDeficit').html(x);
        if (x < 0) {
            $('#WitdrawIRRnotif').html("موجودی شما کمتر از مبلغ درخواستی می باشد")
            $('#submit').prop("disabled", true)
        } else {
            $('#WitdrawIRRnotif').html("")
            $('#submit').prop("disabled", false)

        }
    });

    menu  = "lnkWithdrawirr"
    parent  = "lnktrades"
</script>
{% endblock footer_javascript %}